.login-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  margin-top: 2%;
  gap: 4rem;
}
.login-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.login-heading img {
  height: 1.5rem;
  cursor: pointer;
}
/* Tooltip container */
.tooltip {
  position: relative;
  cursor: pointer;
  height: 2rem;
  border-bottom: 1px dotted var(--black);
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: var(--white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltiptext p {
  color: var(--white);
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  background-color: var(--color-primary);
  width: max-content;
  padding: 2rem;
}

.welcome {
  font-size: 2rem;
  font-weight: 400;
}

.logo {
  height: 7rem;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.back-to-main {
  color: var(--color-primary-darker);
  font-size: 1.5rem;
  text-align: center;
}

.login__input {
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  border-radius: 3rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid var(--white);
  transition: all 0.3s;
  width: 40rem;
  padding: 3rem;
  transition: all ease-in-out 0.2s;
}
.login__input.warning {
  border: 1px solid red;
}
.login__input.warning::placeholder {
  color: red;
}
.warning-text {
  font-size: 2rem;
  color: red;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
  letter-spacing: 1px;
  transition: all ease-in-out 0.2s;
}

.login__btn {
  border: none;
  background: none;
  font-size: 3rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: var(--color-primary);
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  padding-bottom: 4rem;
  display: none;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: var(--white);
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white);
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: var(--gradient-primary);
}

.movements__type--withdrawal {
  background-image: var(--gradient-cancellation);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: var(--color-primary-darker);
}

.summary__value--out {
  color: var(--color-tertiary-darker);
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: var(--black);
}

.operation--transfer {
  background-image: var(--gradient-secondary);
}

.operation--loan {
  background-image: var(--gradient-primary);
}

.operation--close {
  background-image: var(--gradient-cancellation);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--black);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}
.logout {
  color: var(--black);
}
.timer {
  font-weight: 600;
}
