@media screen and (max-width: 1201px) {
  h1 {
    font-size: 5rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 1025px) {
  .header {
    padding: 2rem;
  }
  .nav__link--btn {
    font-size: 1.3rem;
  }
  .features {
    margin: 0 6rem;
  }
  nav {
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }

  .login__input {
    width: 40rem;
    padding: 3rem;
  }
  .login__input::placeholder {
    font-size: 2rem;
  }
  .login__btn {
    font-size: 4rem;
  }
  .app {
    grid-template-columns: 50% 1fr;
    width: 95%;
  }
  .movements__row {
    justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  header {
    position: relative;
  }
  .header__title {
    grid-template-columns: 1fr;
  }
  .features {
    margin: 0 1rem;
    gap: 1rem;
    align-items: center;
  }
  .features__feature {
    width: 100%;
  }
  .feature-one,
  .feature-two,
  .feature-three {
    gap: 2rem;
    align-items: center;
  }
  .operations__content {
    padding: 2rem 4rem;
  }
  .testimonial {
    width: 75%;
  }
  .cookie-message button {
    font-size: 1.2rem;
  }
  .nav__links {
    display: none;
  }
  .hamburger {
    display: inline-block;
    width: 5rem;
    cursor: pointer;
    right: 0;
  }
  .nav__links.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f3f3f3;
    padding: 2rem;
    z-index: 997;
    height: 100vh;
  }
  .nav__logo,
  .hamburger {
    z-index: 99999;
  }
  .nav__links.active-sticky {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    z-index: 997;
    z-index: 999999;
  }
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .balance {
    grid-column: 1 / span 1;
  }
  .movements {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .features {
    grid-template-columns: 1fr;
  }
  .feature-one,
  .feature-two,
  .feature-three {
    display: flex;
  }
  .feature-one,
  .feature-three {
    flex-direction: column;
  }
  .feature-two {
    flex-direction: column-reverse;
  }
  .operations__tab-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .operations__tab {
    margin: initial;
  }
  .operations__tab--active {
    box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  }
  .slider {
    display: none;
  }
  .cookie-message button,
  .cookie-message {
    font-size: 0.8rem;
  }
  .login__input {
    width: 30rem;
    padding: 3rem;
  }
  .app {
    justify-content: center;
    justify-items: center;
    grid-template-columns: 90%;
    margin: 0 auto;
  }
  .balance {
    flex-direction: column;
    align-items: center;
  }
  .summary {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .summary__label {
    font-size: 2rem;
  }
  .btn--sort {
    margin-left: initial;
    font-size: 2rem;
  }
  .movements__row {
    padding: 2rem;
  }
}
